{
    "topoObjectType":"maintenance",
    "topologyIndex":1,
    "elements":[
        {
            "type":"maintenance",
            "maintenanceName":"{{simulation_name}}"
        },
        "{{ simulation_type }}"
    ]
}'